@import "tailwindcss";
@import "./css/customstyles.css";
@import "./css/editor.css";

@theme {
    --color-primary: #A6864A;
    --color-dark: #2A2A2A;
}

.button-primary {
    @apply
    rounded-md
    bg-primary
    text-sm
    font-semibold
    text-white
    shadow-xs
    hover:bg-gray-600
    focus-visible:outline-2
    focus-visible:outline-offset-2
    focus-visible:outline-white
}